.vs/
.idea/
**/bin/
**/obj/
**/build/
**/deps40/
**/distrib/
**/deps40/
launchSettings.json
*.sln.DotSettings.user
*.csproj.DotSettings.user

**/Assets/items/*
!**/Assets/items/items.zip
!**/Assets/items/unknown.webp